# API
/collectoss/api/ @sgoggins

/collectoss/api/view @Ulincsys 
/collectoss/api/routes/user.py @Ulincsys 

# CLI
/collectoss/cli/ @sgoggins

# Frontend
/collectoss/templates/ @sgoggins

# Schema
/collectoss/application/db/ @sgoggins
/collectoss/application/schema/ @sgoggins

# Workers
/collectoss/tasks @sgoggins

# Repo and Community Infrastructure
/README.md @sgoggins @MoralCode
/CONTRIBUTING.md @sgoggins @MoralCode
/CONTRIBUTORS.md @sgoggins @MoralCode
/MAINTAINERS.md @sgoggins @MoralCode
/LICENSE @sgoggins
/CODE_OF_CONDUCT.md @sgoggins
SECURITY.md @sgoggins @MoralCode
.github/ @sgoggins @MoralCode 
pyproject.toml @sgoggins

# Testing
/tests/ @MoralCode
/scripts/ci @MoralCode

# Keyman
/keyman @Ulincsys
/tests/test_key_manager @Ulincsys

# Docs
/docs/ @sgoggins @MoralCode
/readthedocs.yml @sgoggins @MoralCode

# Install - Manual
/Makefile @sgoggins
/scripts/control @sgoggins
/scripts/install @sgoggins
/scripts/mat_view_explore @sgoggins

# Install - Containers
/docker @MoralCode
/scripts/docker @MoralCode

/.dockerignore @MoralCode
*compose.yml @MoralCode

# Misc
/collectoss/metrics/ @sgoggins
/collectoss/server.py @sgoggins
/collectoss/application.py @sgoggins
/collectoss/application/config.py @MoralCode
