#SPDX-License-Identifier: MIT
basePath: /api/unstable/
externalDocs:
  description: CHAOSS Metric Definitions
  url: https://chaoss.community/kb-metrics-and-metrics-models/
host: ai.chaoss.io
info:
  title: Augur REST API
  version: 0.60.0
openapi: 3.1.0
paths:
  #utility endpoints
  /repo-groups:
    get:
      description: Get all the downloaded repo groups.
      operationId: Get All Repo Groups
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                data_collection_date:
                  description: 'Example: 2019-06-05T13:36:25.000Z'
                  type: string
                data_source:
                  description: 'Example: git'
                  type: string
                repo_group_id:
                  description: 'Example: 20'
                  type: integer
                rg_description:
                  description: 'Example: Rails Ecosystem.'
                  type: string
                rg_last_modified:
                  description: 'Example: 2019-06-03T15:55:20.000Z'
                  type: string
                rg_name:
                  description: 'Example: Rails'
                  type: string
                rg_recache:
                  description: 'Example: 0'
                  type: integer
                rg_type:
                  description: 'Example: GitHub Organization'
                  type: string
                rg_website:
                  description: 'Example: '
                  type: string
                tool_source:
                  description: 'Example: load'
                  type: string
                tool_version:
                  description: 'Example: one'
                  type: string
            type: array
      tags:
      - utility
  /repos:
    get:
      description: Get all the downloaded repos.
      operationId: Get All Repos
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                base64_url:
                  description: 'Example: Z2l0aHViLmNvbS9hcGFjaGUvaW5jdWJhdG9yLWFyZ3VzLmdpdA=='
                  type: string
                commits_all_time:
                  description: 'Example: None'
                  type: string
                description:
                  description: 'Example: None'
                  type: string
                issues_all_time:
                  description: 'Example: None'
                  type: string
                repo_id:
                  description: 'Example: 21996'
                  type: integer
                repo_name:
                  description: 'Example: incubator-argus'
                  type: string
                repo_status:
                  description: 'Example: Update'
                  type: string
                rg_name:
                  description: 'Example: Apache'
                  type: string
                url:
                  description: 'Example: github.com/apache/incubator-argus.git'
                  type: string
            type: array
      tags:
      - utility
  /repos/:id:
    get:
      description: Get a downloaded repo by its ID in Augur. The schema block below says it is an array, but it is not.
      operationId: Get Repo By ID
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                base64_url:
                  description: 'Base64 encode of the full URL. Example Z2l0aHViLmNvbS8zc2NhbGUvM3NjYWxlLW9wZXJhdG9yLW1ldGFkYXRh'
                  type: string
                description:
                  description: 'Repository description. Example: null'
                  type: string
                commits_all_time:
                  description: 'How many commits have been made to this repository? Example: 24'
                  type: integer
                issues_all_time:
                  description: 'How many issues have been raised on this repository? Example: 1'
                  type: integer
                pull_requests_all_time:
                  description: 'How many pull requests have been made to this repository? Example: 7'
                  type: integer
                repo_id:
                  description: 'Repository ID, should match provided URL parameter. Example: 25551'
                  type: integer
                repo_name:
                  description: 'Name of the provided repository. Example: 3scale-operator-metadata'
                  type: string
                rg_name:
                  description: 'Name of the repository group containing this repo. Example: 3scale'
                  type: string
                repo_group_id:
                  description: 'ID of the repository group containing this repo. Example: 25431'
                  type: integer
                url:
                  description: 'URL of this repository, sans leading protocol. Example: github.com/3scale/3scale-operator-metadata'
                  type: string
            type: array
      tags:
      - utility
  /owner/:owner/repo/:repo:
    get:
      description: Get the repo_group_id and repo_id of a particular repo.
      operationId: Get Repo by Owner and Repo Name
      parameters:
      - description: Repo Owner
        in: path
        name: owner
        schema:
          type: string
        type: string
      - description: Repo Name
        in: path
        name: repo
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                repo_group_id:
                  description: 'Example: 23'
                  type: integer
                repo_id:
                  description: 'Example: 21339'
                  type: integer
            type: array
      tags:
      - utility
  /rg-name/:rg_name/repo-name/:repo_name:
    get:
      description: Get the repo_group_id and repo_id of a particular repo.
      operationId: Get Repo by Repo Group Name and Repo Name
      parameters:
      - description: Repo Group Name
        in: path
        name: rg_name
        schema:
          type: string
        type: string
      - description: Repo Name
        in: path
        name: repo_name
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                repo_git:
                  description: 'Example: https://github.com/rails/rails.git'
                  type: string
                repo_group_id:
                  description: 'Example: 20'
                  type: integer
                repo_id:
                  description: 'Example: 21000'
                  type: integer
            type: array
      tags:
      - utility
  /rg-name/:rg_name:
    get:
      description: Get the repo_id of a particular repo group.
      operationId: Get Repo by Repo Name
      parameters:
      - description: Repo Group Name
        in: path
        name: rg_name
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                repo_group_id:
                  description: 'Example: 20'
                  type: integer
                rg_name:
                  description: 'Example: Rails'
                  type: string
            type: array
      tags:
      - utility
  /repo-groups/:repo_group_id/repos:
    get:
      description: Get all the repos in a repo group.
      operationId: Get Repos in Repo Group
      parameters:
      - description: Repository Group ID
        in: path
        name: repo_group_id
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                commits_all_time:
                  description: 'Example: 6874'
                  type: integer
                description:
                  description: 'Example: None'
                  type: string
                issues_all_time:
                  description: 'Example: 81'
                  type: integer
                repo_id:
                  description: 'Example: 21326'
                  type: integer
                repo_name:
                  description: 'Example: graphql-js'
                  type: string
                repo_status:
                  description: 'Example: Complete'
                  type: string
                url:
                  description: 'Example: https://github.com/graphql/graphql-js.git'
                  type: string
            type: array
      tags:
      - utility
  /repo-groups/:repo_group_id/top-insights:
    get:
      description: Get all the downloaded repo groups.
      operationId: Get Top Insights
      parameters:
      - description: Repository Group ID
        in: path
        name: repo_group_id
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                data_collection_date:
                  description: 'Example: 2019-06-05T13:36:25.000Z'
                  type: string
                data_source:
                  description: 'Example: git'
                  type: string
                repo_group_id:
                  description: 'Example: 20'
                  type: integer
                rg_description:
                  description: 'Example: Rails Ecosystem.'
                  type: string
                rg_last_modified:
                  description: 'Example: 2019-06-03T15:55:20.000Z'
                  type: string
                rg_name:
                  description: 'Example: Rails'
                  type: string
                rg_recache:
                  description: 'Example: 0'
                  type: integer
                rg_type:
                  description: 'Example: GitHub Organization'
                  type: string
                rg_website:
                  description: 'Example: '
                  type: string
                tool_source:
                  description: 'Example: load'
                  type: string
                tool_version:
                  description: 'Example: one'
                  type: string
            type: array
      tags:
      - utility
  #risk endpoints
  /metadata/repo_info:
    get:
      description: 'Returns the metadata about all repositories in an Augur instance, using information from a git platform (GitHub, GitLab, etc.). Each record includes the default branch name, repository license file, forks, stars, watchers, and committers. Also includes metadata about current repository issue and pull request status and counts.'
      operationId: Activity Metadata (Repo)
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                repo_git:
                  description: 'Example: https://github.com/chaoss/augur'
                  type: string
                repo_name:
                  description: 'Example: augur'
                  type: string
                repo_id:
                  description: 'Example: 25540'
                  type: integer
                default_branch:
                  description: 'Example: Main'
                  type: string
                license:
                  description: 'Example: MIT'
                  type: string
                fork_count:
                  description: 'Example: 554'
                  type: integer
                watchers_count:
                  description: 'Example: 424'
                  type: integer
                stars_count:
                  description: 'Example: 443'
                  type: integer
                commits_count:
                  description: '4434'
                  type: integer
                committers_count:
                  description: 'Example: 42'
                  type: integer
                open_issues:
                  description: 'Example: 7'
                  type: integer
                issues_count:
                  description: 'Example: 23332'
                  type: integer
                issues_closed:
                  description: 'Example: 23322'
                  type: integer
                pull_request_count:
                  description: 'Example: 19445'
                  type: integer
                pull_requests_open:
                  description: 'Example: 10'
                  type: integer
                pull_requests_closed:
                  description: 'Example: 19435'
                  type: integer
                pull_requests_merged:
                  description: 'Example: 17473'
                  type: integer
            type: array
      tags:
      - risk
  /metadata/contributions_count:
    get:
      description: 'Returns a list of repositories contributed to by all the contributors in an Augur Instance: INCLUDING all repositories on a platform, *not* merely those repositories in the Augur Instance. Numerical totals represent total CONTRIBUTIONS.'
      externalDocs:
        description: CHAOSS Metric Definition
        url: https://chaoss.community/kb/metric-contributors/
      operationId: Contributions Count (Repo)
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                repo_git:
                  description: 'Example: https://github.com/chaoss/augur'
                  type: string
                contributions:
                  description: 'Example: 43301'
                  type: integer
            type: array
      tags:
      - risk
  /metadata/contributors_count:
    get:
      description: 'Returns a list of repositories contributed to by all the contributors in an Augur Instance: INCLUDING all repositories on a platform, *not* merely those repositories in the Augur Instance. Numerical totals represent total CONTRIBUTORS.'
      externalDocs:
        description: CHAOSS Metric Definition
        url: https://chaoss.community/kb/metric-contributors/
      operationId: Contributors Count (Repo)
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                repo_git:
                  description: 'Example: https://github.com/chaoss/augur'
                  type: string
                contributors:
                  description: 'Example: 77'
                  type: integer
            type: array
      tags:
      - risk
  /repo-groups/:repo_group_id/average-issue-resolution-time:
    get:
      description: 'The average issue resolution time. '
      externalDocs:
        description: CHAOSS Metric Definition
        url: https://chaoss.community/kb/metric-issue-resolution-duration/
      operationId: Average Issue Resolution Time (Repo Group)
      parameters:
      - description: Repository Group ID
        in: path
        name: repo_group_id
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                avg_issue_resolution_time:
                  description: 'Example: 1413 days 15:39:48'
                  type: string
                repo_id:
                  description: 'Example: 21353'
                  type: integer
                repo_name:
                  description: 'Example: open_id_authentication'
                  type: string
            type: array
      tags:
      - risk
  /repos/:repo_id/average-issue-resolution-time:
    get:
      description: 'The average issue resolution time. '
      externalDocs:
        description: CHAOSS Metric Definition
        url: https://chaoss.community/kb/metric-issue-resolution-duration/
      operationId: Average Issue Resolution Time (Repo)
      parameters:
      - description: Repository ID.
        in: path
        name: repo_id
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                avg_issue_resolution_time:
                  description: 'Example: 276 days 13:54:13.2'
                  type: string
                repo_name:
                  description: 'Example: maven-release'
                  type: string
            type: array
      tags:
      - risk
  /repo-groups/:repo_group_id/cii-best-practices-badge:
    get:
      description: 'The CII Best Practices Badge level. '
      externalDocs:
        description: CHAOSS Metric Definition
        url: https://chaoss.community/kb/metric-open-source-security-foundation-openssf-best-practices-badge/
      operationId: CII Best Practices Badge (Repo Group)
      parameters:
      - description: Repository Group ID
        in: path
        name: repo_group_id
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                badge_level:
                  description: 'Example: in_progress'
                  type: string
                repo_id:
                  description: 'Example: 21252'
                  type: integer
                repo_name:
                  description: 'Example: php-legal-licenses'
                  type: string
            type: array
      tags:
      - risk
  /repos/:repo_id/cii-best-practices-badge:
    get:
      description: 'The CII Best Practices Badge level. '
      externalDocs:
        description: CHAOSS Metric Definition
        url: https://chaoss.community/kb/metric-open-source-security-foundation-openssf-best-practices-badge/
      operationId: CII Best Practices Badge (Repo)
      parameters:
      - description: Repository ID.
        in: path
        name: repo_id
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                badge_level:
                  description: 'Example: passing'
                  type: string
                repo_name:
                  description: 'Example: trickster'
                  type: string
            type: array
      tags:
      - risk
  /repo-groups/:repo_group_id/committers:
    get:
      description: 'Number of persons opening an issue for the first time. '
      externalDocs:
        description: CHAOSS Metric Definition
        url: https://chaoss.community/kb/metric-committers/
      operationId: Committers (Repo Group)
      parameters:
      - description: Repository Group ID
        in: path
        name: repo_group_id
        schema:
          type: string
        type: string
      - description: Periodicity specification.
        in: path
        name: period
        schema:
          type: string
        type: string
      - description: 'Beginning date specification. E.g. values: 2018, 2018-05, 2019-05-01'
        in: path
        name: begin_date
        schema:
          type: string
        type: string
      - description: 'Ending date specification. E.g. values: 2018, 2018-05, 2019-05-01'
        in: path
        name: end_date
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                count:
                  description: 'Example: 372'
                  type: integer
                date:
                  description: 'Example: 2007-01-01T00:00:00.000Z'
                  type: string
                rg_name:
                  description: 'Example: Comcast'
                  type: string
            type: array
      tags:
      - risk
  /repos/:repo_id/committers:
    get:
      description: 'Number of persons contributing with an accepted commit for the first time.'
      externalDocs:
        description: CHAOSS Metric Definition
        url: https://chaoss.community/kb/metric-committers/
      operationId: Committers (Repo)
      parameters:
      - description: Repository ID.
        in: path
        name: repo_id
        schema:
          type: string
        type: string
      - description: Periodicity specification.
        in: path
        name: period
        schema:
          type: string
        type: string
      - description: 'Beginning date specification. E.g. values: 2018, 2018-05, 2019-05-01'
        in: path
        name: begin_date
        schema:
          type: string
        type: string
      - description: 'Ending date specification. E.g. values: 2018, 2018-05, 2019-05-01'
        in: path
        name: end_date
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                count:
                  description: 'Example: 1'
                  type: integer
                date:
                  description: 'Example: 2018-10-25T00:00:00.000Z'
                  type: string
                repo_name:
                  description: 'Example: weasel'
                  type: string
                rg_name:
                  description: 'Example: Comcast'
                  type: string
            type: array
      tags:
      - risk
  /repo-groups/:repo_group_id/fork-count:
    get:
      description: 'A technical fork is a distributed version control copy of a project. The number of technical forks indicates the number of copies of a project on the same code development platform.'
      externalDocs:
        description: CHAOSS Metric Definition
        url: https://chaoss.community/kb/metric-technical-fork/
      operationId: Fork Count (Repo Group)
      parameters:
      - description: Repository Group ID
        in: path
        name: repo_group_id
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                forks:
                  description: 'Example: 4'
                  type: integer
                repo_id:
                  description: 'Example: 21364'
                  type: integer
                repo_name:
                  description: 'Example: irs_process_scripts'
                  type: string
            type: array
      tags:
      - risk
  /repos/:repo_id/fork-count:
    get:
      description: 'A technical fork is a distributed version control copy of a project. The number of technical forks indicates the number of copies of a project on the same code development platform.'
      externalDocs:
        description: CHAOSS Metric Definition
        url: https://chaoss.community/kb/metric-technical-fork/
      operationId: Fork Count (Repo)
      parameters:
      - description: Repository ID.
        in: path
        name: repo_id
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                forks:
                  description: 'Example: 844'
                  type: integer
                repo_name:
                  description: 'Example: graphiql'
                  type: string
            type: array
      tags:
      - risk
  /repo-groups/:repo_group_id/forks:
    get:
      description: 'A time series of fork count. '
      externalDocs:
        description: CHAOSS Metric Definition
        url: https://chaoss.community/kb/metric-technical-fork/
      operationId: Forks (Repo Group)
      parameters:
      - description: Repository Group ID
        in: path
        name: repo_group_id
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                date:
                  description: 'Example: 2019-07-03T23:26:42.000Z'
                  type: string
                forks:
                  description: 'Example: 519'
                  type: integer
                repo_id:
                  description: 'Example: 21036'
                  type: integer
                repo_name:
                  description: 'Example: jquery-ujs'
                  type: string
            type: array
      tags:
      - risk
  /repos/:repo_id/forks:
    get:
      description: 'A time series of fork count. '
      externalDocs:
        description: CHAOSS Metric Definition
        url: https://chaoss.community/kb/metric-technical-fork/
      operationId: Forks (Repo)
      parameters:
      - description: Repository ID.
        in: path
        name: repo_id
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                date:
                  description: 'Example: 2019-07-03T23:27:42.000Z'
                  type: string
                forks:
                  description: 'Example: 843'
                  type: integer
                repo_name:
                  description: 'Example: graphiql'
                  type: string
            type: array
      tags:
      - risk
  /repo-groups/:repo_group_id/license-coverage:
    get:
      description: 'How much of the code base has declared licenses that scanners can recognize which may not be just OSI-approved. This includes both software and documentation source files and is represented as a percentage of total coverage.'
      externalDocs:
        description: CHAOSS Metric Definition
        url: https://chaoss.community/kb/metric-license-coverage/
      operationId: License Coverage (Repo Group)
      parameters:
      - description: Repository Group ID
        in: path
        name: repo_group_id
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                coverage:
                  description: 'Example: 0.373'
                  type: string
                license_declared_files:
                  description: 'Example: 19'
                  type: integer
                name:
                  description: 'Example: ActorServiceRegistry'
                  type: string
                total_files:
                  description: 'Example: 51'
                  type: integer
            type: array
      tags:
      - risk
  /repos/:repo_id/license-coverage:
    get:
      description: 'How much of the code base has declared licenses that scanners can recognize which may not be just OSI-approved. This includes both software and documentation source files and is represented as a percentage of total coverage.'
      externalDocs:
        description: CHAOSS Metric Definition
        url: https://chaoss.community/kb/metric-license-coverage/
      operationId: License Coverage (Repo)
      parameters:
      - description: Repository ID.
        in: path
        name: repo_id
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                coverage:
                  description: 'Example: 0.347'
                  type: string
                license_declared_file:
                  description: 'Example: 33'
                  type: integer
                repo_name:
                  description: 'Example: zucchini'
                  type: string
                total_files:
                  description: 'Example: 95'
                  type: integer
            type: array
      tags:
      - risk
  /repo-groups/:repo_group_id/license-declared:
    get:
      description: 'The total number and specific licenses declared in a software package. This can include both software and documentation source files. This metric is an enumeration of licenses, and the number of files with that particular license declaration.'
      externalDocs:
        description: CHAOSS Metric Definition
        url: https://chaoss.community/kb/metric-licenses-declared/
      operationId: License Declared (Repo Group)
      parameters:
      - description: Repository Group ID
        in: path
        name: repo_group_id
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                name:
                  description: 'Example: trickster'
                  type: string
                note:
                  description: 'Example: '
                  type: string
                short_name:
                  description: 'Example: Apache-2.0'
                  type: string
            type: array
      tags:
      - risk
  /repos/:repo_id/license-declared:
    get:
      description: 'The total number and specific licenses declared in a software package. This can include both software and documentation source files. This metric is an enumeration of licenses, and the number of files with that particular license declaration.'
      externalDocs:
        description: CHAOSS Metric Definition
        url: https://chaoss.community/kb/metric-licenses-declared/
      operationId: License Declared (Repo)
      parameters:
      - description: Repository ID.
        in: path
        name: repo_id
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                name:
                  description: 'Example: trickster'
                  type: string
                note:
                  description: 'Example: '
                  type: string
                short_name:
                  description: 'Example: Apache-2.0'
                  type: string
            type: array
      tags:
      - risk
  /repo-groups/:repo_group_id/languages:
    get:
      description: 'The primary language of the repository. '
      externalDocs:
        description: CHAOSS Metric Definition
        url: https://chaoss.community/kb/metric-programming-language-distribution/
      operationId: Languages (Repo Group)
      parameters:
      - description: Repository Group ID
        in: path
        name: repo_group_id
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                primary_language:
                  description: 'Example: Go'
                  type: string
                repo_id:
                  description: 'Example: 21277'
                  type: integer
            type: array
      tags:
      - risk
  /repo-groups/:repo_id/languages:
    get:
      description: 'The primary language of the repository. '
      externalDocs:
        description: CHAOSS Metric Definition
        url: https://chaoss.community/kb/metric-programming-language-distribution/
      operationId: Languages (Repo)
      parameters:
      - description: Repository ID.
        in: path
        name: repo_id
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                primary_language:
                  description: 'Example: Go'
                  type: string
                repo_id:
                  description: 'Example: 21277'
                  type: integer
            type: array
      tags:
      - risk
  /repo-groups/:repo_group_id/license-count:
    get:
      description: 'The declared software package license (fetched from CII Best Practices
        badging data). '
      externalDocs:
        description: CHAOSS Metric Definition
        url: https://chaoss.community/kb/metric-osi-approved-licenses/
      operationId: License Count (Repo Group)
      parameters:
      - description: Repository Group ID
        in: path
        name: repo_group_id
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                file_without_licenses:
                  description: 'Example: True'
                  type: string
                name:
                  description: 'Example: ActorServiceRegistry'
                  type: string
                number_of_license:
                  description: 'Example: 2'
                  type: integer
            type: array
      tags:
      - risk
  /repo-groups/:repo_id/license-count:
    get:
      description: 'The declared software package license (fetched from CII Best Practices
        badging data). '
      externalDocs:
        description: CHAOSS Metric Definition
        url: https://chaoss.community/kb/metric-osi-approved-licenses/
      operationId: License Count (Repo)
      parameters:
      - description: Repository ID.
        in: path
        name: repo_id
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                file_without_licenses:
                  description: 'Example: True'
                  type: string
                name:
                  description: 'Example: ActorServiceRegistry'
                  type: string
                number_of_license:
                  description: 'Example: 2'
                  type: integer
            type: array
      tags:
      - risk
  #experimental endpoints
  /repo-groups/:repo_group_id/aggregate-summary:
    get:
      description: 'Returns the current count of watchers, stars, and forks and the
        counts of all commits, committers, and pull requests merged between a given
        beginning and end date (default between now and 365 days ago).'
      operationId: Aggregate Summary (Repo Group)
      parameters:
      - description: Repository Group ID.
        in: path
        name: repo_group_id
        schema:
          type: string
        type: string
      - description: 'Beginning date specification. E.g. values: 2018, 2018-05, 2019-05-01'
        in: path
        name: begin_date
        schema:
          type: string
        type: string
      - description: 'Ending date specification. E.g. values: 2018, 2018-05, 2019-05-01'
        in: path
        name: end_date
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                commit_count:
                  description: 'Example: 7890143'
                  type: integer
                committer_count:
                  description: 'Example: 8553'
                  type: integer
                fork_count:
                  description: 'Example: 226841'
                  type: integer
                merged_count:
                  description: 'Example: 3883'
                  type: integer
                star_count:
                  description: 'Example: 460447'
                  type: integer
                watcher_count:
                  description: 'Example: 69106'
                  type: integer
            type: array
      tags:
      - experimental
  /repos/:repo_id/aggregate-summary:
    get:
      description: 'Returns the current count of watchers, stars, and forks and the
        counts of all commits, committers, and pull requests merged between a given
        beginning and end date (default between now and 365 days ago).'
      operationId: Aggregate Summary (Repo)
      parameters:
      - description: Repository ID.
        in: path
        name: repo_id
        schema:
          type: string
        type: string
      - description: 'Beginning date specification. E.g. values: 2018, 2018-05, 2019-05-01'
        in: path
        name: begin_date
        schema:
          type: string
        type: string
      - description: 'Ending date specification. E.g. values: 2018, 2018-05, 2019-05-01'
        in: path
        name: end_date
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                commit_count:
                  description: 'Example: 133'
                  type: integer
                committer_count:
                  description: 'Example: 5'
                  type: integer
                fork_count:
                  description: 'Example: 449'
                  type: integer
                merged_count:
                  description: 'Example: 0'
                  type: integer
                star_count:
                  description: 'Example: 581'
                  type: integer
                watcher_count:
                  description: 'Example: 83'
                  type: integer
            type: array
      tags:
      - experimental
  /repo-groups/:repo_group_id/annual-commit-count-ranked-by-new-repo-in-repo-group:
    get:
      description: 'Annual commit count ranked by new repos in a repo group. '
      operationId: Annual Commit Count Ranked by New Repo in Repo Group (Repo Group)
      parameters:
      - description: 'Repository Group ID.'
        in: path
        name: repo_group_id
        schema:
          type: string
        type: string
      - description: 'Periodicity specification.'
        in: path
        name: period
        schema:
          type: string
        type: string
      - description: 'Beginning date specification. E.g. values: 2018, 2018-05, 2019-05-01'
        in: path
        name: begin_date
        schema:
          type: string
        type: string
      - description: 'Ending date specification. E.g. values: 2018, 2018-05, 2019-05-01'
        in: path
        name: end_date
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                commits:
                  description: 'Example: 289'
                  type: integer
                net:
                  description: 'Example: 21996'
                  type: integer
                repo_id:
                  description: 'Example: 21000'
                  type: integer
                repo_name:
                  description: 'Example: rails'
                  type: string
                year:
                  description: 'Example: 2004'
                  type: integer
            type: array
      tags:
      - experimental
  /repo-groups/:repo_id/annual-commit-count-ranked-by-new-repo-in-repo-group:
    get:
      description: 'Annual commit count ranked by new repos.'
      operationId: Annual Commit Count Ranked repos (Repo)
      parameters:
      - description: 'Repository ID.'
        in: path
        name: repo_id
        schema:
          type: string
        type: string
      - description: 'Periodicity specification.'
        in: path
        name: period
        schema:
          type: string
        type: string
      - description: 'Beginning date specification. E.g. values: 2018, 2018-05, 2019-05-01'
        in: path
        name: begin_date
        schema:
          type: string
        type: string
      - description: 'Ending date specification. E.g. values: 2018, 2018-05, 2019-05-01'
        in: path
        name: end_date
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                commits:
                  description: 'Example: 289'
                  type: integer
                net:
                  description: 'Example: 21996'
                  type: integer
                repo_id:
                  description: 'Example: 21000'
                  type: integer
                repo_name:
                  description: 'Example: rails'
                  type: string
                year:
                  description: 'Example: 2004'
                  type: integer
            type: array
      tags:
      - experimental
  /repo-groups/:repo_group_id/annual-commit-count-ranked-by-repo-in-repo-group:
    get:
      description: 'Annual commit count ranked by repos in a repo group. '
      operationId: Annual Commit Count Ranked by Repo in Repo Group (Repo Group)
      parameters:
      - description: Repository Group ID.
        in: path
        name: repo_group_id
        schema:
          type: string
        type: string
      - description: Base64 version of the URL of the GitHub repository as it appears
          in the Facade DB
        in: path
        name: repo_url_base
        schema:
          type: String
        type: String
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                name:
                  description: 'Example: twemoji'
                  type: string
                net:
                  description: 'Example: 2479124'
                  type: integer
                patches:
                  description: 'Example: 1'
                  type: integer
                repos_id:
                  description: 'Example: 1'
                  type: integer
            type: array
      tags:
      - experimental
  /repo-groups/:repo_id/annual-commit-count-ranked-by-repo-in-repo-group:
    get:
      description: 'This is an Augur-specific metric. We are currently working to
        define these more formally. '
      operationId: Annual Commit Count Ranked by Repo in Repo Group (Repo)
      parameters:
      - description: Repository ID.
        in: path
        name: repo_id
        schema:
          type: string
        type: string
      - description: Base64 version of the URL of the GitHub repository as it appears
          in the Facade DB
        in: path
        name: repo_url_base
        schema:
          type: String
        type: String
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                name:
                  description: 'Example: twemoji'
                  type: string
                net:
                  description: 'Example: 2479124'
                  type: integer
                patches:
                  description: 'Example: 1'
                  type: integer
                repos_id:
                  description: 'Example: 1'
                  type: integer
            type: array
      tags:
      - experimental
  /repo-groups/:repo_group_id/annual-lines-of-code-count-ranked-by-new-repo-in-repo-group:
    get:
      description: 'This is an Augur-specific metric. We are currently working to
        define these more formally. '
      operationId: Annual Lines of Code Ranked by New Repo in Repo Group (Repo Group)
      parameters:
      - description: Repository Group ID.
        in: path
        name: repo_group_id
        schema:
          type: string
        type: string
      - description: Base64 version of the URL of the GitHub repository as it appears
          in the Facade DB
        in: path
        name: repo_url_base
        schema:
          type: String
        type: String
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                net:
                  description: 'Example: 2479124'
                  type: integer
                patches:
                  description: 'Example: 1'
                  type: integer
                repo_name:
                  description: 'Example: twemoji'
                  type: string
                repos_id:
                  description: 'Example: 1'
                  type: integer
            type: array
      tags:
      - experimental
  /repo-groups/:repo_id/annual-lines-of-code-count-ranked-by-new-repo-in-repo-group:
    get:
      description: 'This is an Augur-specific metric. We are currently working to
        define these more formally. '
      operationId: Annual Lines of Code Ranked by New Repo in Repo Group (Repo)
      parameters:
      - description: Repository ID.
        in: path
        name: repo_id
        schema:
          type: string
        type: string
      - description: Base64 version of the URL of the GitHub repository as it appears
          in the Facade DB
        in: path
        name: repo_url_base
        schema:
          type: String
        type: String
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                net:
                  description: 'Example: 2479124'
                  type: integer
                patches:
                  description: 'Example: 1'
                  type: integer
                repo_name:
                  description: 'Example: twemoji'
                  type: string
                repos_id:
                  description: 'Example: 1'
                  type: integer
            type: array
      tags:
      - experimental
  /repo-groups/:repo_group_id/annual-lines-of-code-count-ranked-by-repo-in-repo-group:
    get:
      description: 'This is an Augur-specific metric. We are currently working to
        define these more formally. '
      operationId: Annual Lines of Code Ranked by Repo in Repo Group (Repo Group)
      parameters:
      - description: Repository Group ID.
        in: path
        name: repo_group_id
        schema:
          type: string
        type: string
      - description: Base64 version of the URL of the GitHub repository as it appears
          in the Facade DB
        in: path
        name: repo_url_base
        schema:
          type: String
        type: String
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                name:
                  description: 'Example: twemoji'
                  type: string
                net:
                  description: 'Example: 2479124'
                  type: integer
                patches:
                  description: 'Example: 1'
                  type: integer
                repos_id:
                  description: 'Example: 1'
                  type: integer
            type: array
      tags:
      - experimental
  /repo-groups/:repo_id/annual-lines-of-code-count-ranked-by-repo-in-repo-group:
    get:
      description: 'This is an Augur-specific metric. We are currently working to
        define these more formally. '
      operationId: Annual Lines of Code Ranked by Repo in Repo Group (Repo)
      parameters:
      - description: Repository ID.
        in: path
        name: repo_id
        schema:
          type: string
        type: string
      - description: Base64 version of the URL of the GitHub repository as it appears
          in the Facade DB
        in: path
        name: repo_url_base
        schema:
          type: String
        type: String
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                name:
                  description: 'Example: twemoji'
                  type: string
                net:
                  description: 'Example: 2479124'
                  type: integer
                patches:
                  description: 'Example: 1'
                  type: integer
                repos_id:
                  description: 'Example: 1'
                  type: integer
            type: array
      tags:
      - experimental
  /repo-groups/:repo_group_id/issue-comments-mean:
    get:
      description: Mean(Average) of issue comments per day.
      operationId: Issue Comments Mean (Repo Group)
      parameters:
      - description: Repository Group ID.
        in: path
        name: repo_group_id
        schema:
          type: string
        type: string
      - description: 'Allows for results to be grouped by day, week, month, or year.
          E.g. values: year, day, month'
        in: path
        name: group_by
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                date:
                  description: 'Example: 2018-01-01T00:00:00.000Z'
                  type: string
                mean:
                  description: 'Example: 0.6191780822'
                  type: string
                repo_id:
                  description: 'Example: 21326'
                  type: integer
            type: array
      tags:
      - experimental
  /repos/:repo_id/issue-comments-mean:
    get:
      description: Mean(Average) of issue comments per day.
      operationId: Issue Comments Mean (Repo)
      parameters:
      - description: Repository ID.
        in: path
        name: repo_id
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                date:
                  description: 'Example: 2018-01-01T00:00:00.000Z'
                  type: string
                mean:
                  description: 'Example: 0.6191780822'
                  type: string
                repo_id:
                  description: 'Example: 21326'
                  type: integer
            type: array
      tags:
      - experimental
  /repo-groups/:repo_group_id/issue-comments-mean-std:
    get:
      description: Mean(Average) and Standard Deviation of issue comments per day.
      operationId: Issue Comments Mean Std (Repo Group)
      parameters:
      - description: Repository Group ID.
        in: path
        name: repo_group_id
        schema:
          type: string
        type: string
      - description: 'Allows for results to be grouped by day, week, month, or year.
          E.g. values: year, day, month'
        in: path
        name: group_by
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                date:
                  description: 'Example: 2018-01-01T00:00:00.000Z'
                  type: string
                mean:
                  description: 'Example: 0.6191780822'
                  type: string
                repo_id:
                  description: 'Example: 21326'
                  type: integer
            type: array
      tags:
      - experimental
  /repos/:repo_id/issue-comments-mean-std:
    get:
      description: Mean(Average) and Standard Deviation of issue comments per day.
      operationId: Issue Comments Mean Std (Repo)
      parameters:
      - description: Repository ID.
        in: path
        name: repo_id
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                average:
                  description: 'Example: 2.5'
                  type: string
                date:
                  description: 'Example: 2011-01-01T00:00:00.000Z'
                  type: string
                repo_id:
                  description: 'Example: 21000'
                  type: integer
                standard_deviation:
                  description: 'Example: 1.7159383568'
                  type: string
            type: array
      tags:
      - experimental
  /repo-groups/:repo_group_id/pull-request-acceptance-rate:
    get:
      description: Timeseries of pull request acceptance rate (expressed as the ratio
        of pull requests merged on a date to the count of pull requests opened on
        a date)
      operationId: Pull Request Acceptance Rate (Repo Group)
      parameters:
      - description: Repository Group ID.
        in: path
        name: repo_group_id
        schema:
          type: string
        type: string
      - description: 'Beginning date specification. E.g. values: 2018, 2018-05, 2019-05-01'
        in: path
        name: begin_date
        schema:
          type: string
        type: string
      - description: 'Ending date specification. E.g. values: 2018, 2018-05, 2019-05-01'
        in: path
        name: end_date
        schema:
          type: string
        type: string
      - description: 'Allows for results to be grouped by day, week, month, or year.
          E.g. values: year, day, month'
        in: path
        name: group_by
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                date:
                  description: 'Example: 2019-02-11T00:00:00.000Z'
                  type: string
                rate:
                  description: 'Example: 120.5'
                  type: string
            type: array
      tags:
      - experimental
  /repos/:repo_id/pull-request-acceptance-rate:
    get:
      description: Timeseries of pull request acceptance rate (expressed as the ratio
        of pull requests merged on a date to the count of pull requests opened on
        a date)
      operationId: Pull Request Acceptance Rate (Repo)
      parameters:
      - description: Repository ID.
        in: path
        name: repo_id
        schema:
          type: string
        type: string
      - description: 'Beginning date specification. E.g. values: 2018, 2018-05, 2019-05-01'
        in: path
        name: begin_date
        schema:
          type: string
        type: string
      - description: 'Ending date specification. E.g. values: 2018, 2018-05, 2019-05-01'
        in: path
        name: end_date
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                date:
                  description: 'Example: 2019-01-01T00:00:00.000Z'
                  type: string
                rate:
                  description: 'Example: 5.3333333333'
                  type: string
            type: array
      tags:
      - experimental
  /repo-groups/:repo_group_id/pull-requests-new:
   get:
      description: Returns a time series of the number of new Pull Requests opened during a certain period for a specific repository group.
      operationId: Pull Requests New (Repo Group)
      parameters:
        - name: repo_group_id
          in: path
          description: The repository group's id.
          required: true
          schema:
            type: string
        - name: period
          in: query
          description: Sets the periodicity to 'day', 'week', 'month', or 'year'.
          schema:
            type: string
        - name: begin_date
          in: query
          description: Specifies the begin date.
          schema:
            type: string
        - name: end_date
          in: query
          description: Specifies the end date.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  created_date:
                    type: string
                    description: Date in the format 'YYYY-MM-DD'.
                  new_pull_requests:
                    type: integer
                    description: The number of new pull requests opened on the date.
      tags:
        - experimental
  /repo-groups/:repo_id/pull-requests-new:
    get:
      description: Returns a time series of the number of new Pull Requests opened during a certain period for a specific repository.
      operationId: Pull Requests New (Repo)
      parameters:
        - name: repo_id
          in: path
          description: The repository's id.
          required: true
          schema:
            type: string
        - name: period
          in: query
          description: Sets the periodicity to 'day', 'week', 'month', or 'year'.
          schema:
            type: string
        - name: begin_date
          in: query
          description: Specifies the begin date.
          schema:
            type: string
        - name: end_date
          in: query
          description: Specifies the end date.
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  created_date:
                    type: string
                    description: Date in the format 'YYYY-MM-DD'.
                  new_pull_requests:
                    type: integer
                    description: The number of new pull requests opened on the date.
      tags:
        - experimental
  /repo-groups/:repo_group_id/pull-requests-closed-no-merge:
    get:
      description: Timeseries of pull request which were closed but not merged
      operationId: Pull Request Closed but Not Merged (Repo Group)
      parameters:
      - description: Repository Group ID.
        in: path
        name: repo_group_id
        schema:
          type: string
        type: string
      - description: 'Beginning date specification. E.g. values: 2018, 2018-05, 2019-05-01'
        in: path
        name: begin_date
        schema:
          type: string
        type: string
      - description: 'Ending date specification. E.g. values: 2018, 2018-05, 2019-05-01'
        in: path
        name: end_date
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                date:
                  description: 'Example: 2019-01-01T00:00:00.000Z'
                  type: string
                pr_count:
                  description: 'Example: 3'
                  type: integer
            type: array
      tags:
      - experimental
  /repos/:repo_id/pull-requests-closed-no-merge:
    get:
      description: ''
      operationId: Pull Request Closed but Not Merged (Repo)
      parameters:
      - description: Repository ID.
        in: path
        name: repo_id
        schema:
          type: string
        type: string
      - description: 'Beginning date specification. E.g. values: 2018, 2018-05, 2019-05-01'
        in: path
        name: begin_date
        schema:
          type: string
        type: string
      - description: 'Ending date specification. E.g. values: 2018, 2018-05, 2019-05-01
          ___'
        in: path
        name: end_date
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                date:
                  description: 'Example: 2019-01-01T00:00:00.000Z'
                  type: string
                pr_count:
                  description: 'Example: 3'
                  type: integer
            type: array
      tags:
      - experimental
  /repo-groups/:repo_group_id/top-committers:
    get:
      description: Returns a list of contributors contributing N% of all commits.
      operationId: Top Committers (Repo Group)
      parameters:
      - description: Repository Group ID
        in: path
        name: repo_group_id
        schema:
          type: string
        type: string
      - description: 'Specify the year to return the results for. Default value: current
          year'
        in: path
        name: year
        schema:
          type: string
        type: string
      - description: Specify N%. Accepts a value between 0 &amp; 1 where 0 specifies
          0% and 1 specifies 100%.
        in: path
        name: threshold
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                commits:
                  description: 'Example: 502'
                  type: integer
                email:
                  description: 'Example: kamipo@gmail.com'
                  type: string
                repo_group_id:
                  description: 'Example: 20'
                  type: integer
                repo_group_name:
                  description: 'Example: Rails'
                  type: string
            type: array
      tags:
      - experimental
  /repos/:repo_id/top-committers:
    get:
      description: Returns a list of contributors contributing N% of all commits.
      operationId: Top Committers (Repo)
      parameters:
      - description: Repository ID.
        in: path
        name: repo_id
        schema:
          type: string
        type: string
      - description: 'Specify the year to return the results for. Default value: current
          year'
        in: path
        name: year
        schema:
          type: string
        type: string
      - description: Specify N%. Accepts a value between 0 &amp; 1 where 0 specifies
          0% and 1 specifies 100%.
        in: path
        name: threshold
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                commits:
                  description: 'Example: 4'
                  type: integer
                email:
                  description: 'Example: caniszczyk@gmail.com'
                  type: string
                repo_id:
                  description: 'Example: 21334'
                  type: integer
                repo_name:
                  description: 'Example: graphql'
                  type: string
            type: array
      tags:
      - experimental
  /repo-groups/:repo_group_id/abandoned-issues:
    get:
      description: List of abandoned issues (last updated &gt;= 1 year ago)
      operationId: Abandoned Issues (Repo Group)
      parameters:
      - description: Repository Group ID
        in: path
        name: repo_group_id
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                issue_id:
                  description: 'Example: 125071'
                  type: integer
                repo_id:
                  description: 'Example: 22004'
                  type: integer
                updated_at:
                  description: 'Example: 2017-10-30T06:52:19.000Z'
                  type: string
            type: array
      tags:
      - experimental
  /repo-groups/:repo_id/abandoned-issues:
    get:
      description: List of abandoned issues (last updated &gt;= 1 year ago)
      operationId: Abandoned Issues (Repo)
      parameters:
      - description: Repository ID.
        in: path
        name: repo_id
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                issue_id:
                  description: 'Example: 125071'
                  type: integer
                repo_id:
                  description: 'Example: 22004'
                  type: integer
                updated_at:
                  description: 'Example: 2017-10-30T06:52:19.000Z'
                  type: string
            type: array
      tags:
      - experimental
  /repo-groups/:repo_group_id/lines-changed-by-author:
    get:
      description: 'Code Changes Lines measures the sum of lines added and removed in all source code changes during a specified period by an author. '
      externalDocs:
        description: CHAOSS Metric Definition
        url: https://chaoss.community/kb/metric-code-changes-lines/
      operationId: Lines Changed by Author (Repo Group)
      parameters:
      - description: Repository Group ID
        in: path
        name: repo_group_id
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                additions:
                  description: 'Example: 25611'
                  type: integer
                affiliation:
                  description: 'Example: NULL'
                  type: string
                cmt_author_date:
                  description: 'Example: 2004-11-24'
                  type: string
                cmt_author_email:
                  description: 'Example: david@loudthinking.com'
                  type: string
                deletions:
                  description: 'Example: 296'
                  type: integer
                whitespace:
                  description: 'Example: 5279'
                  type: integer
            type: array
      tags:
      - experimental
  /repo-groups/:repo_id/lines-changed-by-author:
    get:
      description: 'Code Changes Lines measures the sum of lines added and removed in all source code changes during a specified period by an author.  '
      externalDocs:
        description: CHAOSS Metric Definition
        url: https://chaoss.community/kb/metric-code-changes-lines/
      operationId: Lines Changed by Author (Repo)
      parameters:
      - description: Repository ID.
        in: path
        name: repo_id
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                additions:
                  description: 'Example: 25611'
                  type: integer
                affiliation:
                  description: 'Example: NULL'
                  type: string
                cmt_author_date:
                  description: 'Example: 2004-11-24'
                  type: string
                cmt_author_email:
                  description: 'Example: david@loudthinking.com'
                  type: string
                deletions:
                  description: 'Example: 296'
                  type: integer
                whitespace:
                  description: 'Example: 5279'
                  type: integer
            type: array
      tags:
      - experimental



  #evolution endpoints
  /repo-groups/:repo_group_id/code-changes:
    get:
      description: 'Time series of number of commits during a certain period. '
      externalDocs:
        description: CHAOSS Metric Definition
        url: https://chaoss.community/kb/metric-code-changes-commits/
      operationId: Code Changes (Repo Group)
      parameters:
      - description: Repository Group ID
        in: path
        name: repo_group_id
        schema:
          type: string
        type: string
      - description: Periodicity specification.
        in: path
        name: period
        schema:
          type: string
        type: string
      - description: 'Beginning date specification. E.g. values: 2018, 2018-05, 2019-05-01'
        in: path
        name: begin_date
        schema:
          type: string
        type: string
      - description: 'Ending date specification. E.g. values: 2018, 2018-05, 2019-05-01'
        in: path
        name: end_date
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                commit_count:
                  description: 'Example: 173'
                  type: integer
                date:
                  description: 'Example: 2018-01-01T00:00:00.000Z'
                  type: string
                repo_id:
                  description: 'Example: 21337'
                  type: integer
                repo_name:
                  description: 'Example: graphql-wg'
                  type: string
            type: array
      tags:
      - evolution
  /repos/:repo_id/code-changes:
    get:
      description: 'Time series number of commits during a certain period. '
      externalDocs:
        description: CHAOSS Metric Definition
        url: https://chaoss.community/kb/metric-code-changes-commits/
      operationId: Code Changes (Repo)
      parameters:
      - description: Repository ID.
        in: path
        name: repo_id
        schema:
          type: string
        type: string
      - description: Periodicity specification.
        in: path
        name: period
        schema:
          type: string
        type: string
      - description: 'Beginning date specification. E.g. values: 2018, 2018-05, 2019-05-01'
        in: path
        name: begin_date
        schema:
          type: string
        type: string
      - description: 'Ending date specification. E.g. values: 2018, 2018-05, 2019-05-01'
        in: path
        name: end_date
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                commit_count:
                  description: 'Example: 90'
                  type: integer
                date:
                  description: 'Example: 2015-01-01T00:00:00.000Z'
                  type: string
                repo_name:
                  description: 'Example: graphql'
                  type: string
            type: array
      tags:
      - evolution
  /repo-groups/:repo_group_id/code-changes-lines:
    get:
      description: 'Time series of lines added and removed during a certain period. '
      externalDocs:
        description: CHAOSS Metric Definition
        url: https://chaoss.community/kb/metric-code-changes-lines/
      operationId: Code Changes Lines (Repo Group)
      parameters:
      - description: Repository Group ID
        in: path
        name: repo_group_id
        schema:
          type: string
        type: string
      - description: Periodicity specification.
        in: path
        name: period
        schema:
          type: string
        type: string
      - description: 'Beginning date specification. E.g. values: 2018, 2018-05, 2019-05-01'
        in: path
        name: begin_date
        schema:
          type: string
        type: string
      - description: 'Ending date specification. E.g. values: 2018, 2018-05, 2019-05-01'
        in: path
        name: end_date
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                added:
                  description: 'Example: 1135'
                  type: integer
                date:
                  description: 'Example: 2018-01-01T00:00:00.000Z'
                  type: string
                removed:
                  description: 'Example: 101'
                  type: integer
                repo_id:
                  description: 'Example: 21337'
                  type: integer
                repo_name:
                  description: 'Example: graphql-wg'
                  type: string
            type: array
      tags:
      - evolution
  /repos/:repo_id/code-changes-lines:
    get:
      description: 'Time series of lines added and removed during a certain period. '
      externalDocs:
        description: CHAOSS Metric Definition
        url: https://chaoss.community/kb/metric-code-changes-lines/
      operationId: Code Changes Lines (Repo)
      parameters:
      - description: Repository ID.
        in: path
        name: repo_id
        schema:
          type: string
        type: string
      - description: Periodicity specification.
        in: path
        name: period
        schema:
          type: string
        type: string
      - description: 'Beginning date specification. E.g. values: 2018, 2018-05, 2019-05-01'
        in: path
        name: begin_date
        schema:
          type: string
        type: string
      - description: 'Ending date specification. E.g. values: 2018, 2018-05, 2019-05-01'
        in: path
        name: end_date
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                added:
                  description: 'Example: 17613'
                  type: integer
                date:
                  description: 'Example: 2015-06-01T00:00:00.000Z'
                  type: string
                removed:
                  description: 'Example: 106'
                  type: integer
                repo_name:
                  description: 'Example: graphql-js'
                  type: string
            type: array
      tags:
      - evolution
  /repo-groups/:repo_group_id/contributors:
    get:
      description: 'List of contributors and their contributions. '
      externalDocs:
        description: CHAOSS Metric Definition
        url: https://chaoss.community/kb/metric-contributors/
      operationId: Contributors (Repo Group)
      parameters:
      - description: Repository Group ID
        in: path
        name: repo_group_id
        schema:
          type: string
        type: string
      - description: 'Beginning date specification. E.g. values: 2018, 2018-05, 2019-05-01'
        in: path
        name: begin_date
        schema:
          type: string
        type: string
      - description: 'Ending date specification. E.g. values: 2018, 2018-05, 2019-05-01'
        in: path
        name: end_date
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                commit_comments:
                  description: 'Example: 0'
                  type: integer
                commits:
                  description: 'Example: 0'
                  type: integer
                issue_comments:
                  description: 'Example: 0'
                  type: integer
                issues:
                  description: 'Example: 2'
                  type: integer
                pull_request_comments:
                  description: 'Example: 0'
                  type: integer
                pull_requests:
                  description: 'Example: 0'
                  type: integer
                repo_id:
                  description: 'Example: 21000'
                  type: integer
                repo_name:
                  description: 'Example: rails'
                  type: string
                total:
                  description: 'Example: 2'
                  type: integer
                user_id:
                  description: 'Example: 1'
                  type: integer
            type: array
      tags:
      - evolution
  /repos/:repo_id/contributors:
    get:
      description: 'List of contributors and their contributions. '
      externalDocs:
        description: CHAOSS Metric Definition
        url: https://chaoss.community/kb/metric-contributors/
      operationId: Contributors (Repo)
      parameters:
      - description: Repository ID.
        in: path
        name: repo_id
        schema:
          type: string
        type: string
      - description: 'Beginning date specification. E.g. values: 2018, 2018-05, 2019-05-01'
        in: path
        name: begin_date
        schema:
          type: string
        type: string
      - description: 'Ending date specification. E.g. values: 2018, 2018-05, 2019-05-01'
        in: path
        name: end_date
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                commit_comments:
                  description: 'Example: 0'
                  type: integer
                commits:
                  description: 'Example: 0'
                  type: integer
                issue_comments:
                  description: 'Example: 0'
                  type: integer
                issues:
                  description: 'Example: 2'
                  type: integer
                pull_request_comments:
                  description: 'Example: 0'
                  type: integer
                pull_requests:
                  description: 'Example: 0'
                  type: integer
                total:
                  description: 'Example: 2'
                  type: integer
                user:
                  description: 'Example: 1'
                  type: integer
            type: array
      tags:
      - evolution
  /repo-groups/:repo_group_id/contributors-new:
    get:
      description: 'Time series of number of new contributors during a certain period. '
      externalDocs:
        description: CHAOSS Metric Definition
        url: https://chaoss.community/kb/metric-new-contributors/
      operationId: New Contributors (Repo Group)
      parameters:
      - description: Repository Group ID
        in: path
        name: repo_group_id
        schema:
          type: string
        type: string
      - description: Periodicity specification.
        in: path
        name: period
        schema:
          type: string
        type: string
      - description: 'Beginning date specification. E.g. values: 2018, 2018-05, 2019-05-01'
        in: path
        name: begin_date
        schema:
          type: string
        type: string
      - description: 'Ending date specification. E.g. values: 2018, 2018-05, 2019-05-01'
        in: path
        name: end_date
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                date:
                  description: 'Example: 2018-05-20T00:00:00.000Z'
                  type: string
                new_contributors:
                  description: 'Example: 3'
                  type: integer
                repo_id:
                  description: 'Example: 21000'
                  type: integer
                repo_name:
                  description: 'Example: rails'
                  type: string
            type: array
      tags:
      - evolution
  /repos/:repo_id/contributors-new:
    get:
      description: 'Time series of number of new contributors during a certain period. '
      externalDocs:
        description: CHAOSS Metric Definition
        url: https://chaoss.community/kb/metric-new-contributors/
      operationId: New Contributors (Repo)
      parameters:
      - description: Repository ID.
        in: path
        name: repo_id
        schema:
          type: string
        type: string
      - description: Periodicity specification.
        in: path
        name: period
        schema:
          type: string
        type: string
      - description: 'Beginning date specification. E.g. values: 2018, 2018-05, 2019-05-01'
        in: path
        name: begin_date
        schema:
          type: string
        type: string
      - description: 'Ending date specification. E.g. values: 2018, 2018-05, 2019-05-01'
        in: path
        name: end_date
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                date:
                  description: 'Example: 2018-05-20T00:00:00.000Z'
                  type: string
                new_contributors:
                  description: 'Example: 3'
                  type: integer
                repo_id:
                  description: 'Example: 21000'
                  type: integer
                repo_name:
                  description: 'Example: rails'
                  type: string
            type: array
      tags:
      - evolution
  /repo-groups/:repo_group_id/issue-backlog:
    get:
      description: 'Number of issues currently open. '
      externalDocs:
        description: CHAOSS Metric Definition
        url: https://chaoss.community/kb/metric-issues-active/
      operationId: Issue Backlog (Repo Group)
      parameters:
      - description: Repository Group ID
        in: path
        name: repo_group_id
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                issue_backlog:
                  description: 'Example: 21'
                  type: integer
                repo_id:
                  description: 'Example: 21055'
                  type: integer
                repo_name:
                  description: 'Example: cache_digests'
                  type: string
            type: array
      tags:
      - evolution
  /repos/:repo_id/issue-backlog:
    get:
      description: 'Time since an issue is proposed until it is closed. '
      externalDocs:
        description: CHAOSS Metric Definition
        url: https://chaoss.community/kb/metric-issues-active/
      operationId: Issue Backlog (Repo)
      parameters:
      - description: Repository ID.
        in: path
        name: repo_id
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                closed_at:
                  description: 'Example: 2011-04-14T23:27:33.000Z'
                  type: string
                created_at:
                  description: 'Example: 2011-02-13T03:46:06.000Z'
                  type: string
                duration:
                  description: 'Example: 60 days 19:41:27.000000000'
                  type: string
                issue_id:
                  description: 'Example: 50306'
                  type: integer
                repo_name:
                  description: 'Example: exception_notification'
                  type: string
            type: array
      tags:
      - evolution
  /repo-groups/:repo_group_id/issue-participants:
    get:
      description: 'How many persons participated in the discussion of issues. '
      externalDocs:
        description: CHAOSS Metric Definition
        url: https://github.com/chaoss/wg-evolution/blob/main/focus_areas/code_development.md
      operationId: Issue Participants (Repo Group)
      parameters:
      - description: Repository Group ID.
        in: path
        name: repo_group_id
        schema:
          type: string
        type: string
      - description: 'Beginning date specification. E.g. values: 2018, 2018-05, 2019-05-01'
        in: path
        name: begin_date
        schema:
          type: string
        type: string
      - description: 'Ending date specification. E.g. values: 2018, 2018-05, 2019-05-01'
        in: path
        name: end_date
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                created_at:
                  description: 'Example: 2019-06-20T22:56:38.000Z'
                  type: string
                issue_id:
                  description: 'Example: 50328'
                  type: integer
                participants:
                  description: 'Example: 1'
                  type: integer
                repo_id:
                  description: 'Example: 21027'
                  type: integer
                repo_name:
                  description: 'Example: rails-contributors'
                  type: string
            type: array
      tags:
      - evolution
  /repos/:repo_id/issue-participants:
    get:
      description: 'How many persons participated in the discussion of issues. '
      externalDocs:
        description: CHAOSS Metric Definition
        url: https://github.com/chaoss/wg-evolution/blob/main/focus_areas/code_development.md
      operationId: Issue Participants (Repo)
      parameters:
      - description: Repository ID.
        in: path
        name: repo_id
        schema:
          type: string
        type: string
      - description: 'Beginning date specification. E.g. values: 2018, 2018-05, 2019-05-01'
        in: path
        name: begin_date
        schema:
          type: string
        type: string
      - description: 'Ending date specification. E.g. values: 2018, 2018-05, 2019-05-01'
        in: path
        name: end_date
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                created_at:
                  description: 'Example: 2017-03-02T21:14:46.000Z'
                  type: string
                issue_id:
                  description: 'Example: 50796'
                  type: integer
                participants:
                  description: 'Example: 1'
                  type: integer
                repo_name:
                  description: 'Example: arel'
                  type: string
            type: array
      tags:
      - evolution
  /repo-groups/:repo_group_id/issue-throughput:
    get:
      description: 'Ratio of issues closed to total issues. '
      externalDocs:
        description: CHAOSS Metric Definition
        url: https://chaoss.community/kb/metric-issues-closed/
      operationId: Issue Throughput (Repo Group)
      parameters:
      - description: Repository Group ID
        in: path
        name: repo_group_id
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                repo_id:
                  description: 'Example: 21681'
                  type: integer
                repo_name:
                  description: 'Example: incubator-zipkin'
                  type: string
                throughput:
                  description: 'Example: 0.819125'
                  type: string
            type: array
      tags:
      - evolution
  /repos/:repo_id/issue-throughput:
    get:
      description: 'Ratio of issues closed to total issues. '
      externalDocs:
        description: CHAOSS Metric Definition
        url: https://chaoss.community/kb/metric-issues-closed/
      operationId: Issue Throughput (Repo)
      parameters:
      - description: Repository ID.
        in: path
        name: repo_id
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                repo_name:
                  description: 'Example: rails-contributors'
                  type: string
                throughput:
                  description: 'Example: 0.997531'
                  type: string
            type: array
      tags:
      - evolution
  /repo-groups/:repo_group_id/issues-active:
    get:
      description: 'Time series of number of issues that showed some activity during
        a certain period. '
      externalDocs:
        description: CHAOSS Metric Definition
        url: https://chaoss.community/kb/metric-issues-active/
      operationId: Issues Active (Repo Group)
      parameters:
      - description: Repository Group ID
        in: path
        name: repo_group_id
        schema:
          type: string
        type: string
      - description: Periodicity specification.
        in: path
        name: period
        schema:
          type: string
        type: string
      - description: 'Beginning date specification. E.g. values: 2018, 2018-05, 2019-05-01'
        in: path
        name: begin_date
        schema:
          type: string
        type: string
      - description: 'Ending date specification. E.g. values: 2018, 2018-05, 2019-05-01'
        in: path
        name: end_date
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                date:
                  description: 'Example: 2019-01-01T00:00:00.000Z'
                  type: string
                issues:
                  description: 'Example: 18'
                  type: integer
                repo_id:
                  description: 'Example: 21039'
                  type: integer
                repo_name:
                  description: 'Example: rails_xss'
                  type: string
            type: array
      tags:
      - evolution
  /repos/:repo_id/issues-active:
    get:
      description: 'Time series of number of issues that showed some activity during
        a certain period. '
      externalDocs:
        description: CHAOSS Metric Definition
        url: https://chaoss.community/kb/metric-issues-active/
      operationId: Issues Active (Repo)
      parameters:
      - description: Repository ID.
        in: path
        name: repo_id
        schema:
          type: string
        type: string
      - description: Periodicity specification.
        in: path
        name: period
        schema:
          type: string
        type: string
      - description: 'Beginning date specification. E.g. values: 2018, 2018-05, 2019-05-01'
        in: path
        name: begin_date
        schema:
          type: string
        type: string
      - description: 'Ending date specification. E.g. values: 2018, 2018-05, 2019-05-01'
        in: path
        name: end_date
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                date:
                  description: 'Example: 2011-01-01T00:00:00.000Z'
                  type: string
                issues:
                  description: 'Example: 30'
                  type: integer
                repo_name:
                  description: 'Example: rails'
                  type: string
            type: array
      tags:
      - evolution
  /repo-groups/:repo_group_id/issues-closed:
    get:
      description: 'Time series of number of issues closed during a certain period. '
      externalDocs:
        description: CHAOSS Metric Definition
        url: https://github.com/chaoss/wg-evolution/blob/main/metrics/Issues_Closed.md
      operationId: Issues Closed (Repo Group)
      parameters:
      - description: Repository Group ID
        in: path
        name: repo_group_id
        schema:
          type: string
        type: string
      - description: Periodicity specification.
        in: path
        name: period
        schema:
          type: string
        type: string
      - description: 'Beginning date specification. E.g. values: 2018, 2018-05, 2019-05-01'
        in: path
        name: begin_date
        schema:
          type: string
        type: string
      - description: 'Ending date specification. E.g. values: 2018, 2018-05, 2019-05-01'
        in: path
        name: end_date
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                date:
                  description: 'Example: 2019-01-01T00:00:00.000Z'
                  type: string
                issues:
                  description: 'Example: 425'
                  type: integer
                repo_id:
                  description: 'Example: 21681'
                  type: integer
                repo_name:
                  description: 'Example: incubator-zipkin'
                  type: string
            type: array
      tags:
      - evolution
  /repos/:repo_id/issues-closed:
    get:
      description: 'Time series of number of issues closed during a certain period. '
      externalDocs:
        description: CHAOSS Metric Definition
        url: https://chaoss.community/kb/metric-issues-closed/
      operationId: Issues Closed (Repo)
      parameters:
      - description: Repository ID.
        in: path
        name: repo_id
        schema:
          type: string
        type: string
      - description: Periodicity specification.
        in: path
        name: period
        schema:
          type: string
        type: string
      - description: 'Beginning date specification. E.g. values: 2018, 2018-05, 2019-05-01'
        in: path
        name: begin_date
        schema:
          type: string
        type: string
      - description: 'Ending date specification. E.g. values: 2018, 2018-05, 2019-05-01'
        in: path
        name: end_date
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                date:
                  description: 'Example: 2012-01-01T00:00:00.000Z'
                  type: string
                issues:
                  description: 'Example: 97'
                  type: integer
                repo_name:
                  description: 'Example: incubator-pagespeed-ngx'
                  type: string
            type: array
      tags:
      - evolution
  /repo-groups/:repo_group_id/issues-closed-resolution-duration:
    get:
      description: 'Duration of time for issues to be resolved. '
      externalDocs:
        description: CHAOSS Metric Definition
        url: https://chaoss.community/kb/metric-issue-resolution-duration/
      operationId: Closed Issue Resolution Duration (Repo Group)
      parameters:
      - description: Repository Group ID
        in: path
        name: repo_group_id
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                closed_at:
                  description: 'Example: 2019-05-22T05:27:29.000Z'
                  type: string
                created_at:
                  description: 'Example: 2019-05-22T03:18:13.000Z'
                  type: string
                diffdate:
                  description: 'Example: 0.0'
                  type: string
                gh_issue_number:
                  description: 'Example: 4110'
                  type: integer
                issue_title:
                  description: 'Example: rm incubating word'
                  type: string
                repo_name:
                  description: 'Example: incubator-dubbo'
                  type: string
            type: array
      tags:
      - evolution
  /repos/:repo_id/issues-closed-resolution-duration:
    get:
      description: 'Duration of time for issues to be resolved. '
      externalDocs:
        description: CHAOSS Metric Definition
        url: https://chaoss.community/kb/metric-issue-resolution-duration/
      operationId: Closed Issue Resolution Duration (Repo)
      parameters:
      - description: Repository ID.
        in: path
        name: repo_id
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                closed_at:
                  description: 'Example: 2019-06-17T03:12:48.000Z'
                  type: string
                created_at:
                  description: 'Example: 2019-05-31T07:55:44.000Z'
                  type: string
                diffdate:
                  description: 'Example: 16.0'
                  type: string
                gh_issue_number:
                  description: 'Example: 4223'
                  type: integer
                issue_title:
                  description: 'Example: Cloud Native PR'
                  type: string
                repo_id:
                  description: 'Example: 21682'
                  type: integer
                repo_name:
                  description: 'Example: incubator-dubbo'
                  type: string
            type: array
      tags:
      - evolution
  /repo-groups/:repo_group_id/issues-first-time-closed:
    get:
      description: 'Number of persons closing an issue for the first time. '
      externalDocs:
        description: CHAOSS Metric Definition
        url: https://chaoss.community/kb/metric-new-contributors-closing-issues/
      operationId: Closed Issues New Contributor (Repo Group)
      parameters:
      - description: Repository Group ID
        in: path
        name: repo_group_id
        schema:
          type: string
        type: string
      - description: Periodicity specification.
        in: path
        name: period
        schema:
          type: string
        type: string
      - description: 'Beginning date specification. E.g. values: 2018, 2018-05, 2019-05-01'
        in: path
        name: begin_date
        schema:
          type: string
        type: string
      - description: 'Ending date specification. E.g. values: 2018, 2018-05, 2019-05-01'
        in: path
        name: end_date
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
                count:
                  description: 'Example: 3'
                  type: integer
                issue_date:
                  description: 'Example: 2018-05-20T00:00:00.000Z'
                  type: string
                repo_id:
                  description: 'Example: 21000'
                  type: integer
                repo_name:
                  description: 'Example: rails'
                  type: string
            type: array
      tags:
      - evolution
  /repos/:repo_id/issues-first-time-closed:
    get:
      description: 'Number of persons closing an issue for the first time. '
      externalDocs:
        description: CHAOSS Metric Definition
        url: https://chaoss.community/kb/metric-new-contributors-closing-issues/
      operationId: Closed Issues New Contributors (Repo)
      parameters:
      - description: Repository ID.
        in: path
        name: repo_id
        schema:
          type: string
        type: string
      - description: Periodicity specification.
        in: path
        name: period
        schema:
          type: string
        type: string
      - description: 'Beginning date specification. E.g. values: 2018, 2018-05, 2019-05-01'
        in: path
        name: begin_date
        schema:
          type: string
        type: string
      - description: 'Ending date specification. E.g. values: 2018, 2018-05, 2019-05-01'
        in: path
        name: end_date
        schema:
          type: string
        type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              properties:
[...]
